spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: OnlineTest
    password: qwe123
    url: jdbc:mysql://139.224.61.12/OnlineTest?characterEncoding=utf-8&useSSL=false&&serverTimezone=GMT%2b8&zeroDateTimeBehavior=convertToNull
    hikari:
      minimum-idle: 1
  jpa:
    show-sql: true
  servlet:
    multipart:
      max-file-size: 2048MB
      max-request-size: 2048MB
  jackson:
    time-zone: GMT+8
server:
  servlet:
    session:
      timeout: -1